// COLORS
//White
$white1: #F8F8F8;
$white2: #F7F7F7;
$white3: #DEDEDE;

//White-grey
$white-grey1: #F0F0F0;
$white-grey2: #EEEEEE;
$white-grey3: #D6D6D6;

//Light-Dark
$light-dark1: #9DA4B3;
$light-dark2: #929AAB;
$light-dark3: #838B9A;

//Dark
$dark1: #4D5158;
$dark2: #393E46;
$dark3: #33383F;