@import "../colors.scss";
@import "../fonts.scss";
@import "../styles.scss";

// .header-container {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: row;
//   padding-top: 1.5rem;
//   margin-left: 2rem;
//   margin-right: 2rem;
// }

.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;

  &__title{
    font-size: 1rem;
    color: $light-dark2;

    align-self: center;

  }

  &__logo{}
  
  &__burguer{
    align-self: center;
  }

}