.first-section-container {
    font-family: 'Lato', sans-serif;
}

p {
    /* REGULAR */
    color: #393E46;
    font-size: 3vh;
    font-weight: 400;
    font-style: normal;
}

h1 {
    /* BOLD */
    color: #393E46;
    font-size: 6vh;
    font-weight: 700;
    font-style: bold;
}

h2 {
    /* BOLD ITALIC */
    color: #393E46;
    font-size: 6vh;
    font-weight: 700;
    font-style: italic;
}
