@import "../sharedComponents/themes.scss";

.home-container {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--title-container {
    padding: 2rem;

    &__title {
      color: $dark2;
      font-size: 3rem;
      line-height: 3.625rem;
      font-weight: bold;
      font-style: italic;
    }
  }

  &--slogan-container {
    width: 6rem;
    margin: 2rem 2rem 2rem 2rem;


    &__text {
      text-transform: uppercase;
      margin: 0;
      font-weight: 400;
      color: $light-dark2;
      font-size: 1rem;
      line-height: 1.1875rem;
    }
  }

  &__arrow {
    justify-content: flex-end;
  }

}